@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-background-primary: #4285F4;
    --color-text-primary: #FFFFFF;
    --color-primary-light: #80868a;
    --color-primary-main: #5f6369;
    --color-primary-dark: #393e41;
    --color-secondary-main: #164ea6;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-background-primary);
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 600px;
    margin: 0 auto;
}