.calculator {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-main);
    border-radius: 10px;
    height: 740px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4), 
    4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.calculator-display {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-secondary);
    margin: 40px 40px 20px 40px;
    border-radius: 10px;
    min-height: 133px;
}

.previous-operation {
    min-height: 44px;
}

.previous-operation, .current-operation {
    display: flex;
    justify-content: flex-end;
    padding: 0px 24px 0px 0px;
}

.previous-operation > p {
    margin-top: 16px;
    font-size: 24px;
}

.current-operation > p {
    margin: 16px 0px;
    font-size: 48px;
}

/* Button Container */

.button-container {
    margin: 0 40px 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-row {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.button-row button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clearButton {
    background-color: var(--color-secondary-main);
}

#deleteButton {
    background-color: var(--color-secondary-dark);
}